/nbproject/private/
/trabajo_final_taller_2-war/nbproject/private/
/trabajo_final_taller_2-ejb/nbproject/private/
/trabajo_final_taller_2-war/build/
/trabajo_final_taller_2-ejb/dist/
/trabajo_final_taller_2-ejb/build/
/build/
/trabajo_final_taller_2-war/dist/